@page "/"
@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BusinessObjects
@inject DataAccessObjects.IUnitOfWork UnitOfWork

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid TGridItem="Product" Class="table" Items="products.AsQueryable()">
    <PropertyColumn Property="product => product.Category.CategoryName" Title="Category Name" />
    <PropertyColumn Property="product => product.ProductName" />
    <PropertyColumn Property="product => product.Weight" />
    <TemplateColumn Title="UnitPrice" Context="product">
        @string.Format("{0:N0} VND", product.UnitPrice)
    </TemplateColumn>
    <PropertyColumn Property="product => product.UnitsInStock" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?productid={product.ProductId}")">Edit</a> |
        <a href="@($"products/details?productid={product.ProductId}")">Details</a> |
        <a href="@($"products/delete?productid={product.ProductId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>


@code {
    private List<Product> products = new();

    protected override void OnInitialized()
    {
        products = UnitOfWork.Products.GetAll(x => x.Category).ToList();
    }
}
